/* data-input */
.data-input {
    display: flex;
    align-items: normal;
    background-color: #ccc;
    border-radius: 4px;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .data-input label {
    width: 100%;
    cursor: pointer;
  }
  
  .data-input input {
    width: 200px;
    border: none;
    background-color: inherit;
    text-align: left;
    cursor: pointer;
  }
  
  .data-input input:focus {
    outline: none;
  }

  .data-input:focus-within {
    font-weight: bold;
    outline: solid;
    outline-color: darkorange;
  }
  /* end data-input*/
  /* dropdown */
.dropdown-trigger {
  background-color: #666;
}

.dropdown-trigger:hover {
  background-color: darkorange;
}

.dropdown input {
  cursor: pointer;
  border: none;
}

.dropdown input:focus {
  outline: none;
  background-color: darkorange;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  margin-top: -5px;
  padding: 2
}
/* end dropdown */
/* graph menu */
.graph-menu {
 display: inline-flex;
}

.graph-menu button {
  margin-left: 5px;
  align-self: start;
}
/* end graph menu */