/* data-input */
.data-input {
    display: flex;
    align-items: normal;
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    font-size: 9pt;
    margin-bottom: 5px;
  }
  
  .data-input label {
    width: 100%;
  }
  
  .data-input input {
    width: 200px;
    border: none;
    background-color: rgb(233, 233, 233);
    text-align: left;
    cursor: pointer;
  }
  
  .data-input input:focus {
    outline: none;
  }
  /* end data-input*/
  /* dropdown */
.dropdown-trigger {
  background-color: rgb(208, 125, 15);
}

.dropdown input {
  cursor: pointer;
  border: none;
}

.dropdown input:focus {
  outline: none;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  margin-top: -5px;
  padding: 2
}
/* graph menu */
.graph-menu {
 display: inline-flex;
}

.graph-menu button {
  margin-left: 5px;
  align-self: start;
}
/* end graph menu */