/* data-input */
.data-input {
    display: flex;
    align-items: normal;
    background-color: #ccc;
    font-family: "Ropa Sans";
    border-radius: 4px;
    padding: 5px;
    min-width: 300px;
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .data-input label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-style: oblique;
    font-size: 14pt;
  }
  
  .data-input input {
    width: 250px;
    border: none;
    font-family: "Ropa Sans";
    font-size: 12pt;
    background-color: inherit;
    text-align: left;
    cursor: inherit;
  }
  
  .data-input input:focus {
    outline: none;
  }

  .data-input:focus-within {
    font-weight: bold;
    outline: solid;
    outline-color: darkorange;
  }

.data-input:hover {
  font-weight: bold;
  outline: solid;
  outline-color: darkorange;
}
  /* end data-input*/
  /* dropdown */
.dropdown {
  display:flex;
  z-index: 1;
  flex-direction: column;
  font-family: "Ropa Sans";
}
.dropdown-trigger {
  background-color: #666;
  color: ghostwhite;
  border-radius: 4px;
  flex-grow: 1 ;
  flex-shrink: 0;
  font-size: inherit;
  font-family: "Ropa Sans";
  font-size: 14pt;
  font-style: oblique;
}

.dropdown-trigger:hover {
  color: #111;
  background-color: darkorange;
}

.dropdown input {
  cursor: pointer;
  border: none;
}

.dropdown input:focus {
  outline: none;
  background-color: darkorange;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  transition: height .4s ease;

}

.dropdown li {
  flex-grow:1;
  padding: 2;
  font-size: 14pt;
}
/* end dropdown */
/* graph menu */
.graph-menu {
 display: flex;
 flex-wrap: wrap;
 align-content: flex-start;
 justify-content: flex-start;
}

.graph-menu button {
  margin-left: 5px;
  margin-right: 5px;
  align-self: start;
}
/* end graph menu */
.dropdown-input {
 flex-grow: 1;
 background-color: #ccc;
}

.dropdown-item {
  display: flex;
}

.dropdown-item input:hover {
  background-color: darkorange;
}

.action-icon {
  padding-right: 5px;
}