.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    border-radius: 4px;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(36, 93, 151);
  }
  
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-label {
    font-family: Math;
    padding-right: 5px;
    color: ivory;
    font-size: 14pt;
  }