.icon-encircle {
    outline: solid;
    background-color: lightgray;
    outline-color: dimgray;
    outline-width: 3px;
    border-radius: 16px;
    padding: 3px;
    display: flex;
    width: 17px;
    cursor: pointer;
}

  .action-icon {
    position: relative;
  }

  .icon-encircle:hover {
    outline-color: darkorange;
  }
