.header {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    color: darkblue;
    margin-left: 28%;
    text-decoration: underline rgb(36, 93, 151);
    font-family: math;
    text-decoration-thickness: 3px;
    font-size: larger;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
    width: 100%;
  }

.header img {
    width: 70px;
    height: 70px;
    align-self: flex-start;
  }

.title span {
    color: ivory;
}

.header p {
    text-align: center;
    color: darkblue;
    font-family: math;
    font-style: oblique;
    font-weight: 700;
    font-size: 12pt;
}

.header p span {
    color: ivory;
    font-family: fantasy;
    font-size:  14pt;
}

.logout-button {
    margin-left: -240px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
}

.logout-button button{
    font-family: math;
    font-size:  14pt;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}


.logout-button label:hover{
    color: ivory;
}