.select {
    width: '100px';
    height: '30px';
    padding: '5px';
    font-size: '14px';
    background-color: #ccc;
    border: '1px solid #ccc';
    border-radius: '4px';
}

.select:focus {
    outline: none;
}