.footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: inherit; /* Adjust this to match your page color schema */
    padding: 10px;
    margin-left: -10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .legal-notice {
    font-family: math;
    width: 90%;
  }
  
  .legal-notice h2 {
    color: ivory;
  }
  
  .legal-notice {
    color: silver;
  }

  .footer a {
    color: darkblue;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: darkblue;
    text-decoration: underline;
  }
