/* Control the left side */
.left {
    left: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #6f6f6f;
  }

.split-small {
    height: 100%;
    width: 300px;
    flex-shrink: 0;
    padding-top: 20px;
    padding-right: 20px;
    min-width: 300px;
}