/* Control the left side */
.left {
    left: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: darkslategray;
  }

.split-small {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    height: 100vh;
    width: 310px;
    flex-shrink: 0;
    padding-top: 10px;
    padding-right: 10px;
    min-width: 310px;
}

.menu-item {
  margin-bottom: 5px;
  max-width: 325px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}