.action-wrapper-header {
    flex-shrink: 0;
    position: fixed;
    background-color: dimgray;
    display: flex;
    width: 140px;
    outline: solid;
    padding: 3px 3px;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 280px;
    outline-width: 3px;
    outline-color: lightgray;
}