.loaderIcon {
    margin-top: 3px;
    margin-left: 5px;
    animation: spin 2s infinite linear;
}

.save {
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
}

#save-filename-input {
    background-color: #ccc;
    color: #111;
    border: none;
    font-size: 14pt;
    border-radius: 4px;
}

#save-filename-input:focus {
    outline: solid;
    outline-color: #111;
}

.clean {
    margin-left: auto;
}

.graph-header {
    padding-bottom: 5px;
    padding-left: 5px;
    max-width: 95%;
    display: flex;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(30deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}