/* Control the right side */
.right {
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: ghostwhite;
  }

  .split-large {
    height: 100%;
    max-width: calc(100% - 325px);
    flex-grow: 1;
    padding-top: 10px;
    flex: 1;
  }