.loaderIcon {
    margin-top: 3px;
    margin-left: 5px;
    animation: spin 2s infinite linear;
}

.save {
    margin-left: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
}

#save-filename-input {
    padding: 3px;
    background-color: #ccc;
    color: #111;
    border: none;
    font-family: "Ropa Sans";
    font-style: oblique;
    font-size: 14pt;
    border-radius: 4px;
}

#save-filename-input:focus {
    outline: solid;
    outline-color: #111;
}

.right {
    margin-left: auto;
}

.graph-header {
    padding-bottom: 5px;
    padding-left: 5px;
    max-width: 95%;
    display: flex;
    align-items: center;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(30deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.action-wrapper-header {
    flex-shrink: 0;
    position: fixed;
    background-color: dimgray;
    display: flex;
    width: 140px;
    outline: solid;
    padding: 3px 3px;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 280px;
    outline-width: 3px;
    outline-color: lightgray;
}

.history-wrapper {
    flex-shrink: 0;
    background-color: dimgray;
    display: flex;
    width: 52px;
    outline: solid;
    padding: 3px 3px;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    outline-width: 3px;
    outline-color: lightgray;
}

.header-item {
    margin-right: 5px;
}